data/
*.csv
*.xlsx
*.xls

.env
.env.*

.git/
.gitignore

__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

target/
logs/
dbt_packages/
dbt_internal_packages/

.ipynb_checkpoints/
convert.ipynb

.DS_Store
Thumbs.db
